## Data frame of EC features

Read in the data and build data frame of curves:

In [16]:
import pandas as pd

datafile0 = "./data/ec_rk0_cond1000-10000.sage"
datafile1 = "./data/ec_rk1_cond1000-10000.sage"
datafile2 = "./data/ec_rk2_cond1000-10000.sage"

ec = []
rank = []
r = 0

for df in [datafile0, datafile1, datafile2]:
    labels = []
    load(df)
    ec += labels
    rank += [r for x in labels]
    r += 1
    
ecdat = pd.DataFrame()
ecdat['ec'] = ec
ecdat['rank'] = rank
ecdat['conductor'] = [s.split('.')[0] for s in ec]

ecdat

            ec rank conductor
0      1001.b1    0      1001
1      1001.b2    0      1001
2      1001.b3    0      1001
3      1001.b4    0      1001
4      1002.a1    0      1002
...        ...  ...       ...
59568  9962.a1    2      9962
59569  9963.c1    2      9963
59570  9966.c1    2      9966
59571  9978.a1    2      9978
59572  9999.e1    2      9999

[59573 rows x 3 columns]

Add columns for point counts on reduction mod the first 100(0) primes:

In [20]:
ecdat = ecdat[['ec','rank','conductor']]

nprimes = 100

#Â initialise columns
for i in range(1, nprimes+1):
    s = 'a' + str(i)
    ecdat[s] = 0
    
# loop over ECs computing the columns
for i in range(ecdat.shape[0]):
    e = ecdat['ec'].values[i]
    try:
        E = EllipticCurve(QQ,e)
    except:
        print(f'No curve found for label {e}')
        continue
    p = 2
    for j in range(1, nprimes+1):
        s = 'a' + str(j)
        ecdat[s].values[i] = p+1-E.Np(p)
        p = next_prime(p)
    if i%1000 == 0:
        print(i)
        
ecdat

0
1000
2000
3000
4000
No curve found for label 2550.l3
5000
6000
7000
8000
No curve found for label 3664.k1
No curve found for label 3696.d1
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000

,ec,rank,conductor,a1,a2,a3,a4,a5,a6,a7,...,a91,a92,a93,a94,a95,a96,a97,a98,a99,a100
0,1001.b1,0,1001,-1,0,-2,-1,1,-1,-2,...,-8,24,32,28,-4,0,30,-30,-20,38
1,1001.b2,0,1001,-1,0,-2,-1,1,-1,-2,...,-8,24,32,28,-4,0,30,-30,-20,38
2,1001.b3,0,1001,-1,0,-2,-1,1,-1,-2,...,-8,24,32,28,-4,0,30,-30,-20,38
3,1001.b4,0,1001,-1,0,-2,-1,1,-1,-2,...,-8,24,32,28,-4,0,30,-30,-20,38
4,1002.a1,0,1002,-1,-1,0,0,0,-4,6,...,28,24,-16,8,-18,-24,10,-10,-24,-32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59568,9962.a1,2,9962,1,-1,-4,1,-4,-6,-1,...,20,36,-15,-16,-2,2,-5,-27,-43,-34
59569,9963.c1,2,9963,0,0,-2,-4,2,-1,-2,...,36,-20,25,10,-44,-12,40,-18,9,-10
59570,9966.c1,2,9966,1,-1,-3,-4,-1,-3,-4,...,-27,-20,38,-1,5,19,-36,-22,-14,-4
59571,9978.a1,2,9978,-1,-1,-2,-1,-1,-2,-5,...,24,21,-8,-20,36,12,-9,-40,20,-20
59572,9999.e1,2,9999,0,0,-3,0,-1,-5,3,...,38,-38,4,15,15,38,42,25,-24,-31

The above run took about 30 minutes (for _nprimes = 1000_). Let's save the data frame to disk:

In [101]:
dffile = "./data/ec_rk0-2_cond1000-10000.csv"

ecdat.to_csv(dffile, index=False)